<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ImapServer" value="imap.gmail.com"/>
    <add key="ImapPort" value ="993"/>
    <add key="ImapSSL" value ="true"/>
    <add key="Pop3Server" value="pop.gmail.com"/>
    <add key="Pop3Port" value ="995"/>
    <add key="Pop3SSL" value ="true"/>
    <add key="SmtpServer" value="smtp-relay.gmail.com"/>
    <add key="SmtpPort" value ="25"/>
    <add key="SmtpSSL" value="true"/>
  </appSettings>
</configuration>