<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImapX" version="2.0.0.18" targetFramework="net452" />
  <package id="LiteDB" version="1.0.4" targetFramework="net452" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net452" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net452" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net452" />
</packages>